@media  (max-width: 1200px)
    .container
        max-width: 960px
    .hotel__slider
      width: 600px
    .hotel
      &-slider
        &__image
          width: 100%
          height: 100%
          object-fit: cover
    .card
      width: 230px
      height: 230px
    .footer
      &__input
        width: auto
      
    
       
      
      
@media  ( max-width: 992px )
    .container,
    .newsletter-wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
            max-width: 340px
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                line-height: 15px
    .hotel
      &-grid
        flex-direction: column
      &__slider
        margin-bottom: 30px
      &-right
        flex-direction: row
      &-slider
        width: 100%
    
    .booking
      margin-right: 20px
      width: 340px
    .map
      width: 340px
    .reviews
      &__title
         margin-bottom: 50px
         font-size: 30px
      &-slider
        &__item
          max-width: 580px
    .activities
      padding-bottom: 70px
      &-wrapper
        flex-wrap: wrap
      &__card
        margin-bottom: 20px
    .card
      width: 340px
      height: 250px
    .footer
      &__info
        &-wrapper
          margin-left: 0
      &__required
        margin-left: 213px
      &__logo
        align-self: start
        grid-row: 1 / 2
      &__social
        &-network
          grid-row: 1 / 2
          grid-column: span 4
          align-self: center
      &__contact
        &-details
          grid-row: 3 
          grid-column: span 4
        &-form
          grid-column: span 3
          grid-row: 4
      &__categories
        grid-row: 2 / 3
      &__legal
        margin-left: 0
      &__additional
        grid-column: span 2
        
      &__input
        flex-basis: 100%
        max-width: 100%
        margin-right: 0
      &__message
        width: auto
      &__required
        margin-left: 356px    
        margin-top: -100px
      &__form
        display: grid
      &__info
        &-wrapper
          margin-left: 0
        &-pay
          margin-left: 48px
        
      &__button
        margin-bottom: 50px
      
        
        
      

@media  ( max-width: 768px )
    .container
        max-width: 576px
        width: 100%
    body 
      padding-top: 78px
        
    .navbar
      &__mobile
        &_fixed
          position: fixed
          left: 0
          top: 0
          z-index: 15
          width: 100%
      &__user, &__search
        &_mobile
          &_hidden
            display: none
          &_visible
            display: flex
      &__user
        flex-direction: column
        justify-content: center
 
      &-bottom
        display: none
        position: fixed
        left: 0
        right: 0
        bottom: 0
        top: 78px
        padding-top: 30px
        &_visible
          display: block
      &-menu
        flex-direction: column
        &__item
          margin-bottom: 20px
          &_mobile
            &_visible
              display: block
    .search
        &__input
            width: 340px
      
    .menu
        &-button
            display: flex
            background-color: $light
            width: 16px
            height: 11px
            border: none
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
      &__name
        &_light
          color: $light
          margin-left: 0
          margin-top: 10px
      &__avatar
        &_center
          width: 40px
          height: 40px
          margin-right: 0
          border-radius: 50%
          object-fit: cover
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__rating
                display: none
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
            &__offer
                order: -1
                margin-left: 0
        &-slider
          height: 350px
          margin-bottom: 20px
        &-right
          flex-direction: column    
    .booking
      width: 100%
      margin-bottom: 20px
      &__number
        width: 314px
      &__button
        width: 100%
    .map
      width: 100%  
     
    
    .newsletter
      
      width: 100%
      &-wrapper
        flex-direction: column
        align-items: flex-start
        padding-left: 18px
    .reviews
      &__title
        margin-bottom: 50px
        font-size: 30px
      &-slider
        &__item
          padding: 0 30px 30px
          &:after, &:before
            display: none
        &__button
          top: 32px
          
          
          &--prev
            left: 50%
            margin-left: -65px
            transform: translate(-50%, 0)
          &--next
            right: 50%
            margin-right: -65px
            transform: translate(50%, 0)
    .card
      width: 48%
      height: 255px
    .footer


@media ( max-width: 576px )
    .container
      padding-left: 20px
      padding-right: 20px  
    .logo
        width: 99px
    .hotel
      &-slider
        height: 250px
    .booking
      &__num
        margin-left: 20px
    .subscribe
      width: 100%
    .newsletter
      padding: 76px 20px 83px 20px
      &-title
        font-size: 20px
        &__strong
          font-size: 30px
    .reviews
      &__title
        margin-bottom: 40px
        font-size: 18px
    .card
      width: 100%
    .activities
      padding-bottom: 60px
      &__title
        margin-bottom: 40px
    .footer
      &-wrapper
        grid-template-columns: 1fr
      &__logo
        grid-row: 1
        grid-column: 1
      &__social
        &-network
          grid-row: 2
          grid-column: 1
      &__additional
        grid-row: 3
        grid-column: 1
      &__categories
        grid-row: 4
        grid-column: 1
      &__legal
        grid-row: 5
        grid-column: 1
      &__contact
        &-details
          grid-row: 6
          grid-column: 1
        &-form
          grid-row: 7
          grid-column: 1
      &__info
        grid-row: 8
        grid-column: 1
      
          
            
      
   
          
    
    
        
    

    